{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R1[456]"}.

{sub_dirs, [
    "apps/ejabberd",
    "apps/stringprep",
    "apps/mysql",
    "apps/pgsql",
    "rel", "dev"]}.

{deps, [
    {cuesport, ".*", {git, "git://github.com/goj/cuesport.git", {branch, "master"}}},
    {redo, ".*", {git, "git://github.com/JacobVorreuter/redo.git", {branch, "master"}}},
    {exml, ".*", {git, "git://github.com/esl/exml.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git"}},
    {cowboy, "0.9.0", {git, "git://github.com/extend/cowboy.git", "0.9.0"}},
    {folsom, ".*", {git, "git://github.com/boundary/folsom.git", {branch, "master"}}},
    {mochijson2, ".*", {git, "git://github.com/bjnortier/mochijson2.git", {branch, "master"}}},
    {alarms, ".*", {git, "git://github.com/chrzaszcz/alarms.git", {branch, "master"}}},
    {p1_cache_tab, ".*", {git, "git://github.com/processone/cache_tab"}},
    {nksip, "0.3.0", {git, "git://github.com/kalta/nksip.git", "v0.3.0"}}
]}.

{pre_hooks, [{compile, "make generate_snmp_header"}]}.
